body {background-color: #A9F5BC;
}
h1 {color:darkolivegreen; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {color:darkolivegreen; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {color:darkolivegreen; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {color:darkolivegreen; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
